/* Fontawesome 5 config */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

:root {
    --main-bg-color: #222;
    --main-text-color: #EEE;
    --alt-bg-color: #000;
}
body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    & header {
        border: none;
    }
    & .container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        & p.alert-danger {
            width: 80vw;
            text-align: center;
            color: white;
            background: #ff0f0f;
            border: none;
            font-size: 2.25rem;
            height: 4.5rem;
            line-height: 2.25rem;
            position: absolute;
        }
        & p.alert-info {
            width: 80vw;
            text-align: center;
            color: white;
            background: #0069d9;
            border: none;
            font-size: 2.25rem;
            height: 4.5rem;
            line-height: 2.25rem;
            position: absolute;
        }
        // New Songs Styles
        & #songInputs {
            display: flex;
            & #inputForm {
                color: white;
            }
            & #genButton, #addButton, #clearButton, #saveButton {
                padding: 0 1rem;
                margin-left: 1rem;
                border-radius: 5px;
            }
            & #addButton, #clearButton, #saveButton {
                display: none;
            }
        }
        & #results {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: flex-start;
            margin-top: 2rem;
            border-top: 1px solid white;
            padding-top: 2rem;
            & #songsOutput {
                margin-left: 0;
                margin-right: auto;
                flex-flow: column nowrap;
                width: 35%;
                & #songsContent {
                    & h1 {
                        margin: 0 0 .25rem 0;
                        border-bottom: 1px solid white;
                    }
                    & ol li {
                        margin: 0;
                        font-size: 1.25rem;
                    }
                    & h1 {
                        font-size: 2rem;
                    }
                }
            }
            & #lyrics {
                margin-left: 2rem;
                flex-flow: column nowrap;
                & #lyricsResult {
                    margin-left: 3rem;
                    padding-left: 8rem;
                    & h1 {
                        font-size: 2rem;
                    }
                    & div {
                        font-size: 1.35rem;
                    }
                }
            }
            & #resultsRightColumn {
                position: relative;
                width: 100%;
            }
            & #loadingSpinner {
                display: none;
                & h2 {
                    font-size: 3rem;
                    position: absolute;
                    top: 2rem;
                    left: 45%;
                }
                & #musicNote {
                    font-size: 12rem;
                    position: absolute;
                    top: 10rem;
                    left: 50%;
                    animation: notes 2s infinite linear;
                }
            }

        }
        & #newSongButton, #showSongsButton {
            position: absolute;
            top: -1.75rem;
            right: 6.5rem;
        }
        // Posts Styles
        & #posts {
            align-items: center;
            width: 100%;
            & .post {
                margin: 20px 15%;
                padding: 20px 30px;
                box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
                background: var(--alt-bg-color);
                & .post-avatar {
                    width: 80px;
                    min-width: 80px;
                    height: 80px;
                    min-height: 80px;
                    background: #444;
                    margin-right: 2rem;
                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }
                & .post-body {
                    background: var(--main-bg-color);
                    margin-top: 1rem;
                    padding: 1rem;
                    display: flex;
                }
            }
            & .social-buttons {
                display: flex;
                justify-content: space-around;
                margin-top: 2rem;
            }
        }
        & .btn-success {
            margin: 2rem 3rem 0 auto;
            a {
                color: white;
            }
        }
        // Show Song Styles
        & #showSongLyricsOutput {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            & * {
                text-align: center;
            }
            & #showSongEditButton {
                margin-top: 2rem;
            }
        }
    }
}

@keyframes notes {
    0% {
        transform: scale(1) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1.25) rotate(-1turn);
    }
    80% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.5) rotate(-1turn) translate(0, 100%);
        opacity: 0;
    }
}
